annotated-types
anyio
azure-core
azure-functions
azure-identity
azure-storage-blob
blinker
certifi
cffi
charset-normalizer
click
cmake
colorama
cryptography
dlib
face-recognition
face_recognition_models
fastapi
Flask
h11
httpcore
httptools
httpx
idna
iniconfig
isodate
itsdangerous
Jinja2
MarkupSafe
msal
msal-extensions
numpy
opencv-python
packaging
pillow
pluggy
portalocker
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
pytest
python-dotenv
python-multipart
pywin32
PyYAML
requests
setuptools
six
sniffio
starlette
typing_extensions
urllib3
uuid
uvicorn
watchfiles
websockets
Werkzeug
